body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("backgr.png");
    background-repeat: no-repeat;

    background-size: 100%;
   


  
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color:darkturquoise;
    box-shadow: 0 5px 15px rgba(0,0,0,0,06);
    z-index: 999;
    position: sticky;
    top:0;
    left:0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:darkblue;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color:antiquewhite;
}
#navbar li a.active::after{
    width: 10%;
    height: 1px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

main {
    padding: 2rem;

}

section {
    margin-bottom: 2rem;
}

.cta-btn {
    display: inline-block;
    background-color: #ff8800;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
#hero h5{
    color:orangered;
    font-weight: bold;
}
#hero h1{
    color:midnightblue;
    font-weight:650;
}
#hero h6{
    color:darkred;
    font-weight: bolder;

}
#about h2{
    color:orangered;
    font-weight: bold;
}
#about p{
    color:midnightblue;
    font-size:large;
    font-weight: bold;
}
#services h2{
    color:orangered;
    font-weight: bold;
}
#services ul{
    color:midnightblue;
    font-size:large;
    font-weight: bold;
}
#contact h2{
    color:orangered;
    font-weight: bold;
}
#contact form{
    color:midnightblue;
    font-size:large;
    font-weight: bold;
}















